<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="flq.projectbooks">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"

        tools:replace="android:theme">
        <activity
            android:name=".UI.activities.Main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.activities.CreateBook"
            android:label="@string/title_activity_create_book" />
        <activity
            android:name=".UI.activities.DisplayBooks"
            android:label="@string/title_activity_display_books" />
        <activity
            android:name=".UI.activities.DisplayFilters"
            android:label="@string/title_activity_display_filters" />
        <activity
            android:name=".UI.activities.CreateFilter"
            android:label="@string/title_activity_create_filter" />
        <activity
            android:name=".UI.activities.CreateFriend"
            android:label="@string/title_activity_create_friend" />
        <activity android:name=".UI.activities.GoogleDriveRestConnexion" />
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.activities.ImportExport" />

        <receiver
            android:name=".utilities.BiblioidBroadcastReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utilities.DateReminderCheckService"
            android:icon="@drawable/amazonlogo"
            android:label="@string/service_name" />

        <activity android:name=".UI.activities.Informations" />
        <activity
            android:name=".UI.activities.GoogleDriveRestSharingCode"
            android:label="@string/title_activity_google_drive_rest_sharing_code"></activity>
        <activity android:name=".UI.activities.FilteredFilePickerActivity"></activity>
        <activity android:name=".UI.activities.SettingsActivity"
            android:label="Préférence de l'application" />
        <activity android:name=".UI.activities.DisplayFriends"
            android:label="Liste des amis" />

    </application>



</manifest>
